.help-text {
  font-size: 12px;
  color: #8c8c8c;
  margin-top: 4px;
}

.form-actions {
  margin-top: 24px;
  text-align: right;
}

::ng-deep .ant-form-item {
  margin-bottom: 16px;
}

::ng-deep .ant-form-item-label {
  padding-bottom: 4px;
}
