<ul class="menu" nz-menu [nzMode]="'inline'" [nzTheme]="'dark'">
  <ng-container *ngFor="let item of menus">
    <ng-template #recursiveList let-menu>
      <ng-container *ngFor="let node of menu">
        <li *ngIf="!node.children" nz-menu-item nzMatchRouter>
          <a
            *ngIf="node.link"
            [routerLink]="node.link"
            rel="noopener noreferrer"
          >
            <span *ngIf="node.icon" nz-icon [nzType]="node.icon"></span>
            <span>{{ node.title }}</span>
          </a>
          <span *ngIf="!node.link">
            <span *ngIf="node.icon" nz-icon [nzType]="node.icon"></span>
            <span>{{ node.title }}</span>
          </span>
        </li>
        <li
          *ngIf="node.children"
          nz-submenu
          [nzTitle]="node.title"
          [nzIcon]="node.icon"
        >
          <ul>
            <ng-container
              *ngTemplateOutlet="
                recursiveList;
                context: { $implicit: node.children }
              "
            ></ng-container>
          </ul>
        </li>
      </ng-container>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="recursiveList; context: { $implicit: [item] }"
    ></ng-container>
  </ng-container>
</ul>
