<ul class="menu" nz-menu [nzMode]="'inline'" [nzTheme]="'dark'">
  @for (item of menus; track item) {
    <ng-template #recursiveList let-menu>
      @for (node of menu; track node) {
        @if (!node.children) {
          <li nz-menu-item nzMatchRouter>
            @if (node.link) {
              <a [routerLink]="node.link" rel="noopener noreferrer">
                @if (node.icon) {
                  <span nz-icon [nzType]="node.icon"></span>
                }
                <span>{{ node.title }}</span>
              </a>
            }
            @if (!node.link) {
              <span>
                @if (node.icon) {
                  <span nz-icon [nzType]="node.icon"></span>
                }
                <span>{{ node.title }}</span>
              </span>
            }
          </li>
        }
        @if (node.children) {
          <li nz-submenu [nzTitle]="node.title" [nzIcon]="node.icon">
            <ul>
              <ng-container
                *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: node.children }
                "
              ></ng-container>
            </ul>
          </li>
        }
      }
    </ng-template>
    <ng-container
      *ngTemplateOutlet="recursiveList; context: { $implicit: [item] }"
    ></ng-container>
  }
</ul>
