nz-header,
nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

nz-content {
  background: aliceblue;
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}
.main-layout {
  height: 100%;
}
